.drum-machine {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
  width: 100%;
  background-color: black;
  color: limegreen;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.drum-pads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.drum-pad-wrapper {
  margin: 10px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 50%; /* Make it circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.drum-pad.active {
  background-color: yellow; /* Change this color to your preference */
}

.button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}